<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>20/01/03 01:45:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SEtest.Multiplecheckbox()[pri:0, instance:com.SE.testscripts.SEtest@457e2f02]">Multiplecheckbox</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>20/01/03 01:45:42</td>   <td>588</td> <td>&nbsp;</td><td title="&lt;&lt;SEtest.afterTest()[pri:0, instance:com.SE.testscripts.SEtest@457e2f02]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>20/01/03 01:45:28</td>   <td>-13434</td> <td>&nbsp;</td><td title="&gt;&gt;SEtest.beforeTest()[pri:0, instance:com.SE.testscripts.SEtest@457e2f02]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>20/01/03 01:45:38</td>   <td>-3117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SEtest.openwebpage()[pri:0, instance:com.SE.testscripts.SEtest@457e2f02]">openwebpage</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>20/01/03 01:45:42</td>   <td>367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SEtest.singlebutton()[pri:0, instance:com.SE.testscripts.SEtest@457e2f02]">singlebutton</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>20/01/03 01:45:41</td>   <td>-438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SEtest.singlecheckbox()[pri:0, instance:com.SE.testscripts.SEtest@457e2f02]">singlecheckbox</td> 
  <td>main@258754732</td>   <td></td> </tr>
</table>
