<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>20/01/03 01:47:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SEtest.Multiplecheckbox()[pri:0, instance:com.SE.testscripts.SEtest@4678c730]">Multiplecheckbox</td> 
  <td>main@1476394199</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>20/01/03 01:47:27</td>   <td>13611</td> <td>&nbsp;</td><td title="&lt;&lt;SEtest.afterTest()[pri:0, instance:com.SE.testscripts.SEtest@4678c730]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1476394199</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>20/01/03 01:47:03</td>   <td>-10439</td> <td>&nbsp;</td><td title="&gt;&gt;SEtest.beforeTest()[pri:0, instance:com.SE.testscripts.SEtest@4678c730]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1476394199</td>   <td></td> </tr>
</table>
